version: '3.8'

services:
  db:
    image: postgres:15
    container_name: techhelpdesk_db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: techhelpdesk
    ports:
      - '5432:5432'
    volumes:
      - db_data:/var/lib/postgresql/data

  app:
    build: .
    container_name: techhelpdesk_app
    depends_on:
      - db
    environment:
      PORT: 3000
      DB_HOST: db
      DB_PORT: 5432
      DB_USER: postgres
      DB_PASS: postgres
      DB_NAME: techhelpdesk
      NODE_ENV: production
    ports:
      - '3000:3000'
    volumes:
      - .:/app:cached
    command: npm run start:dev

volumes:
  db_data:
    driver: local

